<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>FastTicket</title>
     <link rel="stylesheet" href="/css/styles.css">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <img width="200" src="/img/LogoTicket.png" alt="Logo">
     <div>
         <h5><a href="/index.html"></a>Home</h5>
         <p><i class="fa-solid fa-magnifying-glass">Busqueda</i></p>
         <i class="fa-solid fa-address-card"></i>
         <h5>Perfil</h5>
         <link name="" rel="stylesheet" href="">
         <a href="/login">Ingresá</a>
     </div>
     <section>
         <h1>Registro</h1>
         <form action="" method="get">

             <div>
                 <label for="email">Correo Electronico:</label><br>
                 <input type="email" placeholder="Ingresá tu correo electronico" id="email" required><br>
             </div>
             <div>
                 <label for="contraseña">Elija una Contraseña:</label><br>
                 <input type="password" placeholder="Ingresá tu contraseña" minlength="5" id="contraseña" required><br>
             </div>
             <div>
                 <label for="repetir-contrasela">Reingresá tu contraseña:</label><br>
                 <input type="password" placeholder="Ingresá tu contraseña" minlength="5" id="repetir-contrasela" required><br>
             </div>
             <div class="nombre-apellido">
                 <div>
                     <label for="nombre">Nombre</label><br>
                     <input type="text" placeholder="Ingresá tu Nombre" minlength="6" id="nombre" required><br>
                 </div>
                 <div>
                    <label for="apellido">Apellido</label><br>
                    <input type="text" placeholder="Ingresá tu Apellido" minlength="6" id="apellido" required><br>
                </div>
             </div>
            <div>
                <label for="direccion"></label>
                <input type="text" id="direccion" minlength="8" required>
            </div>
            <div>
                <label for="localidad"></label>
                <input type="text" id="localidad" minlength="8" required>
            </div>
            <div>
                <button type="submit" name="enviar">Terminar</button>
            </div>

         </form>

     </section>

    
</body>
</html>