* {
     box-sizing: border-box;
}
.top-bar{
     display: flex;
     flex-direction: row;
     flex-grow: 0.3;
 
}
.registro{
     text-align: center;
     margin: auto;
}
.boton{
     justify-content: right;
     align-items:flex-end;
     flex-wrap: wrap;
}
